*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    margin-right: -5px;
}
    /* Track */
    ::-webkit-scrollbar-track {
    background: #fff; 
}

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888; 
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.items-container-playground::-webkit-scrollbar{
    display: none;
}
#one-hour, #half-hour, #two-hours, #unlimited{
    background-image: url(../image/clock.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ktv{
    background-image: url(../image/ktv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background: rgb(241, 241, 241);
}
body > div{
    width: 100%;
    position: relative;
}

button{
    cursor: pointer;
}
#amount-to-pay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    z-index: 2500;
}
.time-ended-alert button{
    padding: 20px;
    margin: 30px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: red;
    font-size: 30px;
}
.time-ended-alert span{
    color: red;
    font-size: 30px;
}
.side-bar{
    width: 18%;
    height: 100vh;
    position: fixed;
    left: -19%;
    top: 0;
    background: #fff;
    z-index: 5;
    box-shadow: 0 0 5px gray;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.tickets-list-wrapper{
    width: 100vw;
    height: 100vh;
    z-index: 2100;
    background: rgba(0,0,0,0.5);
    position: fixed;
}
.tickets-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tickets-container .confirm-button button, .tickets-container .cancel-extend button{
    padding: 15px 30px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
    background: #666;
    border: 1px solid transparent;
}
.buttons-tickets-list{
    display: flex;
}
.buttons-tickets-list button{
    margin: 10px 5px;
}
.buttons-tickets-list .cancel-extend button{
    background: red;
}

#amount-to-pay > div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 17%;
    background: #fff;
    padding: 30px;
    z-index: 2500;
    border-radius: 10px;
    box-shadow: 0 0 5px #666;
}
.buttons-extension button{
    background: #666;
    color: #fff;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid transparent;
}
.amount-to-pay-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.amount-to-pay-wrapper > div{
    background: green;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 5px;
}
.tickets{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.tickets > div{
    padding: 20px 25px;
    margin: 10px;
    background: orange;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
.side-bar .bottom-panel{
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 10%;
}
.side-bar .bottom-panel #show-pending-orders{
    padding: 15px;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20%);
    position: absolute;
    font-weight: bold;
    color: #fff;
    background:rgb(36, 163, 206);
    border: 1px solid transparent;
    border-radius: 4px;
}
.side-bar .bottom-panel > div{
    margin: 10px 0;
}
.side-bar .bottom-panel > div:nth-child(1){
    display: flex;
    width: 100%;
}
.side-bar .bottom-panel > div:nth-child(1) button{
    width: 50%;
    margin: 0 5px;
    padding: 15px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
}
.side-bar .bottom-panel > div:nth-child(1) button:nth-child(1){
    background: green;
}
.side-bar .bottom-panel > div:nth-child(1) button:nth-child(2){
    background: red;
}
.side-bar .bottom-panel > div:nth-child(2){
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #666;
}

.side-bar .bottom-panel > div:nth-child(2) button{
    padding: 5px;
    margin: 5px 0;
    background: red;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 0;
}
.time-ended-alert{
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
    display: grid;
    place-items: center;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.side-bar .time-wrapper{
    position: absolute;
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    left: 0;
    top: 70px;
}
.side-bar table{
    width: 100%;
}
.side-bar table td{
    padding: 3px;
    width: 50%;
}
.side-bar table td:nth-child(3){
    padding:0;
}

.main{
    position: relative;
    height: 100%;
}
.main .header{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .header span{
    font-size: 40px;
    color: #494848;
}
.main .main-content{
    height: 70vh;
    width: 50%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-40%, -50%);
    border-radius: 4px;
}
.main .main-content > div{
    border-radius: 4px;
}
.main .items-container{
    background: #fff;
    width: 100%;
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
}
.main .items-container-playground{
    width: 100%;
    height: calc(45% - 20px);
    background: #fff;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.main .items-container-playground > div{
    width: 120px;
    height: 120px;
    border-radius: 4px;
    box-shadow: 0 0 5px gray;
    background: #fff;
    cursor: pointer;
    margin: 10px;
    position: relative;
}
@media screen and (max-width: 1028) {
    .main .items-container-playground > div{
        width: 50px;
        height: 50px;
    }
}
.main .items-container-playground > div span{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: orange;
    text-shadow: 0 0 3px orange;
    font-size: 20px;
}
.main .items-container-playground > div .price{
    position: absolute;
    left: -1px;
    top: 0;
    padding: 5px 10px;
    background: red;
    color: #fff;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: bold;
}

.main .items-container > div{
    width: 120px;
    height: 120px;
    box-shadow: 0 0 5px gray;
    background: #fff;
    border-radius: 4px;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.main .items-container > div, .main .items-container-playground > div{
    transition: .3s;
}
.main .items-container > div:hover, .main .items-container-playground > div:hover{
    box-shadow: 0 0 10px black;
    transition: .3s;
}

.items-container .item .item-price{
    position: absolute;
    left: -1px;
    top: 0;
    padding: 5px 10px;
    background: red;
    color: #fff;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: bold;
}
.items-container .item .item-name-container{
    position: absolute;
    bottom: -10%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    border-radius: 0 0 4px 4px;
    height: 40%;
}
.items-container .item .item-name-container span{
    font-size: 11px;
    text-align: center;
    color: #666;
    padding: 0;
    line-height: 12px;
}
.items-container .item .item-name-container span:nth-child(1){
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

/* .. */
.modal-content .available-tables{
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    padding: 0 30px;
}
.modal-content .available-tables > div{
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    background: rgb(233, 233, 233);
    padding: 20px 10px;
    border-radius: 4px;
}
.modal-content .available-tables > div > div{
    padding: 10px 18px;
    color: #fff;
    background: rgb(36, 163, 206);
    margin: 5px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}
.check-out-modal{
    width: 35%;
    height: 100vh;
    position: fixed;
    right: -36%;
    bottom: 0;
    background: #fff;
    box-shadow: 0 0 5px gray;
    border-radius: 4px 4px 0 0;
    padding: 100px 30px 0;
}
.confirm-check-out-modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
}
.confirm-check-out-modal > div{
    width: 30%;
    padding: 50px 10px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.confirm-check-out-modal > div span{
    font-size: 25px;
}
.confirm-check-out-modal > div > div{
    padding: 20px;
}
.confirm-check-out-modal > div > div button{
    border-radius: 4px;
    font-size: 20px;
    margin: 0 5px;
}
.confirm-check-out-modal > div > div button:nth-child(1){
    background: #666;
    color: #fff;
    border: 1px solid transparent;
    padding: 20px;
}
.confirm-check-out-modal > div > div button:nth-child(2){
    background: red;
    color: #fff;
    border: 1px solid transparent;
    padding: 20px 40px;
}
.check-out-modal #cancel{
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 5px 10px;
    font-weight: bold;
    background: red;
    color: #fff;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: 4px;
}
.check-out-modal-animate{
    animation-name: show-check-out-modal;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.check-out-modal-animate2{
    animation-name: hide-check-out-modal;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}
.check-out-modal .modal-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.check-out-modal .modal-header span{
    font-size: 17px;
    font-weight: bold;
}

@keyframes show-check-out-modal{
    from {right: -36%;}
    to{right: 0;}
}
@keyframes hide-check-out-modal{
    from {right: 0;}
    to {right: -36%;}
}
.item-to-check-out-container{
    width: 100%;
    height: 30%;
    overflow-y: scroll;
    background: rgb(241, 241, 241);
    padding-top: 10px;
    border-radius: 4px;
}
.item-to-check-out{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.item-to-check-out span{
    width: 33.33%;
    text-align: center;
    position: relative;
    padding: 10px 0;
    font-size: 13px;
}
.item-to-check-out span:nth-child(4){
    font-weight: bold;
    padding-left: 15px;
}
.item-to-check-out span:nth-child(3){
    padding-left: 15px;
    font-weight: bold;
}
.item-to-check-out button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
}
.item-to-check-out .increase-quantity{
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.item-to-check-out .decrease-quantity{
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}
.modal-buttons{
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.modal-buttons button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    margin: 5px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}
.modal-buttons button:nth-child(1){
    background: red;
    color: #fff;
}
.modal-buttons button:nth-child(2){
    background: rgb(36, 180, 36);
    color: #fff;
}
.proceed-receipt{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3000;
}
.proceed-receipt .wrapper{
    width: 300px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0 ;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.proceed-receipt .wrapper span{
    color: rgb(53, 51, 51);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proceed-receipt .wrapper button{
    width: 40%;
    padding: 15px 0;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 4px;
    color: #666;
}
.proceed-receipt .wrapper .proceed-buttons{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
.proceed-receipt .wrapper .proceed-buttons button:nth-child(1){
    background: #666;
    color: #fff;
}
.total-wrapper{
    margin: 20px 50px 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-wrapper > div{
    display: flex;
    flex-direction: column;
}
.total-wrapper button{
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background: rgb(36, 163, 206);
    padding: 15px;
}
.total-wrapper span{
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}
.total-wrapper span:nth-child(2){
    font-size: 30px;
    margin-left: 50px;
}
.pop-up-wrapper{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2500;
}
.pop-up-wrapper #back{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background: red;
}
.pop-up{
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    background: rgb(241, 241, 241);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pop-up .buttons-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}
.pop-up span{
    font-size: 50px;
    font-weight: bold;
    padding-left: 30px;
}
.pop-up  button{
    width: 150px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    background: #32a852;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
}
.pop-up .buttons-container > div{
    width: 100px;
    height: 70px;
    background: red;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: gray;
    border-radius: 4px;
    cursor: pointer;
}
.document-to-print td:nth-child(1){
    text-align: left;
}
.document-to-print td:nth-child(2){
    text-align: right;
}
.document-to-print{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.print-header{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.document-to-print table{
    width: 100vw;
    margin: 10px 0;
}

@media print{
    *{
        margin: 0;
        padding: 0;
    }
    body > div:not(:nth-child(1)){
        display: none;
    }
}

#notification-container{
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 4000;
    width: 200px;
}
.check-out-notif{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    animation-name: notif;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0 0 5px #666;
}
/* show orders */
.orders{
    padding: 50px 200px;
}
.orders > div{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 50px 30px;
}
.orders > div > div{
    margin-top: 70px;
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.orders table{
    padding: 10px;
    background: rgb(245, 245, 245);
    border-radius: 4px;
}
.orders table td{
    border: 1px solid rgb(184, 183, 183);
    text-align: center;
    padding: 3px;
    font-size: 15px;
}
.orders table th{
    padding: 5px;
}
.orders .table-action{
    border: 1px solid transparent;
}
.orders .table-action button{
    padding: 10px 15px;
    color: #fff;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
}
.orders .table-action button:nth-child(1){
    background: orange;
}
.orders .table-action button:nth-child(2){
    background: rgb(36, 163, 206);
}
.orders .table-action button:nth-child(3){
    background: #28a745;
}
.orders .table-action button:nth-child(4){
    background: red;
}
/* */

.cashier-balance table td{
    padding: 5px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #666;
}
.balance-wrapper{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background: #fff;
    padding: 100px 20px 50px; 
    text-align: center;
    color: #666;
}
.balance-wrapper > span{
    font-size: 30px;
}
.balance-wrapper .report{
    width: 100%;
    box-shadow: 0 0 2px #424242;
    margin: 40px 0 10px;
    height: 50vh;
    overflow-y: scroll;
    border-radius: 4px;
    padding: 10px;
}
.balance-wrapper .report table{
    width: 100%;
    color: #424242;
}
.balance-wrapper .report table th{
    font-size: 12px;
    padding: 5px;
}
.balance-wrapper .header{
    text-align: right;
    padding: 20px;
}
.balance-wrapper .header span:nth-child(1){
    font-size: 30px;
}
.cashier-profile{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}
.cashier-profile .profile-pic-container{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.cashier-profile .profile-pic-container div:nth-child(1){
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../image/cashier_profile.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
}
.cashier-profile button{
    background: red;
    color: #fff;
    font-weight: bold;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 5px;
}
#exit-cashier-balance{
    padding: 15px 30px;
    color: #fff;
    background: red;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid transparent;
    position: absolute;
    right: 20px;
    top: 20px;
}
/* */
.confirmation-wrapper{
    background-color: #fff;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    text-align: center;
}
.confirmation-buttons{
    display: flex;
}
.confirmation-buttons button{
    padding: 15px 40px;
    margin: 20px 5px 0;
    font-size: 15px;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
}
.confirmation-buttons button:nth-child(1){
    background: #666;
}
.confirmation-buttons button:nth-child(2){
    background: red;
}
